<div class="report-module-instance" {% if new_page %}style="page-break-before: always;"{% endif %}>
    
    <div style="page-break-inside: avoid; text-align: center;">
    
        <h2 class="first">{{ title or 'Indicadores Chave de Disponibilidade (KPIs)' }}</h2>

        {% if data.kpi_image_base64 %}
        <div class="kpi-image-container" style="padding: 10px 0;">
            <img src="data:image/png;base64,{{ data.kpi_image_base64 }}" style="height: auto; border: 1px solid #eee;">
        </div>
        {% else %}
        <p><i>Ocorreu um erro ao gerar a imagem do painel de KPIs.</i></p>
        {% endif %}
    </div>
    
</div>